In [4]:
# Import pandas
import pandas as pd

# Load Excel file
# Replace 'data.xlsx' with your file path
df = pd.read_csv("../employee_data.csv")

# Show the first 5 rows
print(df.head())

   id    name  age        salary   department  experience_years
0   1  User_1   56  60475.984120           HR                 3
1   2  User_2   69  47425.567472  Engineering                 0
2   3  User_3   46  36392.201298  Engineering                13
3   4  User_4   32  67829.385896           HR                15
4   5  User_5   60  61782.981867    Marketing                19